{erl_opts, [debug_info]}.

{deps, [{zotonic_core, "1.0.0-rc.0"}]}.

{shell, []}.

{project_plugins, [
    %% rebar3 fmt
    erlfmt
]}.

%% Config default fmt command (-w)
{erlfmt, [write]}.

{relx, [
    {release, {todow, "0.1.0"}, [todow, sasl]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false}
        ]}
    ]},
    {dev, [
        {deps, []}
    ]},
    {test, [
        {erl_opts, [
            nowarn_export_all
        ]}
    ]}
]}.
